.guestBtn {
    padding: 8px;
    box-sizing: border-box;
    background: none;
    border: 1px solid rgb(132, 132, 132);
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    margin-top: 12px;
}

.guestBtn:focus {
    background: rgba(0,0,0,.1);
}