.notification {
    height: 27.2px;
}

.notification__box {
    background-color: whitesmoke;
    max-height: 300px;
    overflow: scroll;
    z-index: 2;
    position: absolute;
    right: 0;
    margin-right: 10px;
    width: 220px;
    border-radius: 5px;    
}


.notification__item {
    border-bottom: 1px solid #ccc;
    padding: 8px 6px;
}

.notification__item p {
    line-height: 20px;
    font-size: 14px;
    text-align: left;
}

.notification__icon * {
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.no-item {
    text-align: center;
}