.yourOrder {
    border-radius: 6px;
}

.yourOrder__header {
    padding: 8px;
    margin-bottom: 10px;
    background-color: $brand-color;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
}

.yourOrder__msg {
    margin: 12px;
    font-size: 20px;
}


@media screen and (min-width: 700px){
    .yourOrder__orders {
       column-count: 2;
       -moz-column-count: 2;
       -webkit-column-count: 2;
       column-gap: normal;
       -moz-column-gap: normal;
       -webkit-column-gap: normal;   
    }
}
