.layout {
    margin-top: 45px;
    margin-bottom: 60px;
    padding: 0 10px;
    position: relative;
}

/* .layout {
    height: 100%-91px;
    width: 100%;
    margin: 45px 0 56px;
    display: flex;
    align-items: center;
    justify-content: center;
} */