.navbar {
    position: fixed;
    top: 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    width: 100%;
    padding: 0 10px;
    z-index: 2;
    background-color: white;
}

.logo {
    text-decoration: none;
    font-weight: bold;
    color: $brand-color;
}

.navbar__notification {
    border: none;
    background: none;
}


@media screen and (max-width:1023px){
    .navbar {
        left: 0;
    }
}

@media screen and (min-width:1024px){
    .navbar {
        width: 1004px;
    }
}