* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* padding-margin will not considered in size*/
}
@font-face {
    font-family: "Open Sans";
    src: url("../../fonts/openSans/OpenSans-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
body {
    max-width: 1024px;
    margin: 0 auto;
    font-family: "Open Sans",'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.7;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 500px){
    body{
        width: 100vw;
    }
}