.page-margin {
    margin-top: 50px !important;
    margin-bottom: 56px !important;
}

a {
    text-decoration: none;
    color: black;
}


button:hover {
  background-color: whitesmoke;
  color: black;
}

.page-header {
    height: 44px;
    background-color: $brand-color;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 12px;
    text-align: center;
}

.page-title {
    color: white;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.container__header {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    text-align: left;
    margin-bottom: 2px;
}

.msg {
 margin: 20px 0;
 padding: 8px;
 text-align: center;
 box-shadow: 3px 3px 5px -4px #ccc;
 -webkit-box-shadow: 3px 3px 5px -4px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
 -moz-box-shadow: 3px 3px 5px -4px #ccc;  /* Firefox 3.5 - 3.6 */      
}



.card-container {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid  rgb(232, 232, 232);
    border-radius: 5px;
    
}

.box-shadow {
    box-shadow: 3px 3px 5px -4px #ccc;
    -webkit-box-shadow: 3px 3px 5px -4px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px -4px #ccc;  /* Firefox 3.5 - 3.6 */
}

.button-border-r {
    border-radius: 5px;
    border: 1px solid $brand-color;
    padding: 0 12px;
}

.button-border-b {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0 12px;
}

.border-r {
    border-radius: 5px;
    border: 1px solid $brand-color;
    padding: 0 6px;
}

.border-b {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0 6px;
}

.button-r {
    border: none;
    background-color: $brand-color;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 6px;
}

.button-w {
    border: none;
    background-color: whitesmoke;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 6px;
}

.hr {
    width: 100%;
    height: 0;
    border-width: 1px 0 0;
    border-top: 1px solid rgb(232, 232, 232);
    margin: 10px 0;
}


.selected {
    background: whitesmoke;
}