//font-sizing
$font-xxsmall: 8px;
$font-xsmall: 10px;
$font-small: 12px;
$font-medium: 16px;
$font-large : 24px;
$font-xlarge : 28px;


//spacing
 $xsss-size: 4px;
 $xss-size: 6px;
$xs-size: 8px;
 $s-size: 12px;
 $m-size: 16px;
 $l-size: 32px;
 $xl-size: 48px;

//color
$brand-color: #202023;
$border-color: #ccc; 

//07070a
